* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    font-smooth: auto;
    -webkit-font-smoothing: auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    font-family: 'Source Sans Pro Regular';
    font-weight: 300;
    color: #384A58;
    background-color: #FFF;
}

.wrapper{
    max-width: 60rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.container{
    position: relative;
    background-color: #FFF;
    vertical-align: middle;
}

#sidebar{
    position: fixed;
    top: 0; 
    bottom: 0; 
    left: 0;
    width: 14rem;
    height: 100vh;
    background-color: #4D394B;
    color: #FFF;
}

#header{
}

#content{
    padding: 2rem 2rem 2rem 0rem; /* move content */
    margin-left: 14rem;
    height: auto;
    width: auto;
    background-color: #FFF;
}

#footer {
}