* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    font-smooth: auto;
    -webkit-font-smoothing: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font-family: 'Source Sans Pro Regular';
    font-size: 1rem;
    font-weight: 300;
    /*color: #384A58;*/
    /*color: hsl(221, 21%, 36%);*/
    color: hsl(0, 0%, 37%);
    background-color: #FFF
}

.wrapper {
    max-width: 60rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 14rem;
    height: 100vh;
        /*background-image: linear-gradient( to right, #20262C, #1A1E23);*/
    /*background-image: linear-gradient( to bottom left, #18214a, #141438);*/
    /*background-image: linear-gradient( to bottom left, #20262C, #1A1E23);*/
    /*background-color: #F1F1F1;*/
    /*background-color: #EEEEEE;*/
    background-color: #F9F9F9;
    color: #FFF;
    border-right: 1px solid #DDD;

}

#header {}

#content {
    padding: 2rem 2rem 2rem 0rem;
    margin-left: 14rem;
    background-color: #FFF;
}

.preview-post{
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #edeef0;
}

.preview-post .image {
    float: left;
    /*width: 10rem;*/
    height: auto;
    /*background-color: yellow;*/
    padding-right: 5rem;
}

.preview-post .content {
    float: right;
    width: 36rem;
    line-height: 1.5rem;
}

.preview-post p {
    display: inline-block;
    color: hsl(0, 0%, 57%);
}

.preview-post span{
    color: hsl(0, 0%, 37%);
}

.preview-post .post-meta{
    background-color: #F1F1F1;
    display: block;
    width: 20rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-left: 0.2rem;
    color: hsl(0, 0%, 57%);
}

.preview-post .icon{
    font-family: 'fontello';
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}

/*.preview-post:last-child {}*/

.preview-post h2 {
    color: hsl(0, 0%, 15%);
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#footer {}
